@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

html{
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif  !important;
}

*, *:before, *:after{
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif  !important;
  font-weight: 500 !important;
  font-style: normal !important;
}

.header{
  padding: 2rem 1rem 1rem;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  background-color: #b53c42;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-nav{
  grid-row: 3/4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.header-nav a{
  color: white;
  text-decoration: none;
  font-size: 1.8rem;
  transition: 0.5s;
}
.header-nav a:hover{
  font-size: 1.9rem;
  transition: 0.2s ease-out;
  color: black;
}

.header-logo{

  width: 18rem;
  margin: 0 auto;
}


.header__search{
  grid-row: 2/3;
  position: relative;
  width: 100%;
 
  
}

.header__search input{
  
  width: 90%;
  padding: 1rem;
  border-radius: 1rem 0 0 1rem;
  border: 0;
  outline: none;
  background-color: #7a232e;
  caret-color: white;
  color: white !important;
}

.header__search input::placeholder{
  color: white;
  font-size: 1.5rem;
}

.header__search button{
  
  background-color: #7a232e;
  color: white;
  padding: 1rem;
  position: absolute;
  border: 0;
  margin: auto;
  border-radius: 0 1rem 1rem 0;
}

/*Tablet*/
@media (min-width: 768px){
  .header{
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(2,1fr);
      
  }
  .header-nav{
      grid-row: 2/3;
      grid-column: 1/3;
      justify-content: center;
      gap: 2rem;
      
  }
  .header__search{
      grid-row: 1/2;
      grid-column: 2/3;
  }
  .header-logo{
      margin: 0 1rem;
  }
  
}
/*Laptop monitor*/
@media (min-width: 1140px){
  .header{
      display: flex;
      justify-content:space-around;
      align-items: center;
      height: 10vh;
      padding-bottom: 2rem;
  }
  .header-nav{
      width: 35rem;
  }
  .header-logo{

      width: 20rem;
  }
  .header__search{
      width: 35rem;
  }
  .header__search input{
      width: 30rem;
  }

}