@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
  font-family: "Poppins", sans-serif !important;
  font-weight: 500 !important;
  font-style: normal !important;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

.header-logo {
  width: 18rem;
  margin: 0 auto;
}

i {
  color: #fff;
}

i:hover {
  color: #000000;
}

* {
  margin: 0;
  box-sizing: border-box;
}

:before,
:after {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.v-center {
  align-items: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* header */
.header {
  display: block;
  width: 100%;
  position: relative;
  z-index: 99;
  padding: 15px;
  background: #b53c42;
}

.header .item-left {
  flex: 0 0 17%;
}

.header .logo a {
  font-size: 30px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}

.header .item-center {
  flex: 0 0 66%;
}

.header .item-right {
  flex: 0 0 17%;
  display: flex;
  justify-content: flex-end;
}

.header .item-right a {
  text-decoration: none;
  font-size: 16px;
  color: #555555;
  display: inline-block;
  margin-left: 10px;
  transition: color 0.3s ease;
}

.header .menu > ul > li {
  display: inline-block;
  line-height: 50px;
  margin-left: 25px;
}

.header .menu > ul > li > a {
  font-size: 15px;
  font-weight: 500;
  color: white;
  position: relative;
  text-transform: capitalize;
  transition: color 0.3s ease;
}

.header .menu > ul > li .sub-menu {
  position: absolute;
  z-index: 500;
  background-color: #ffffff;
  box-shadow: -2px 2px 70px -25px rgba(0, 0, 0, 0.3);
  padding: 20px 30px;
  transition: all 0.5s ease;
  margin-top: 25px;
  opacity: 0;
  visibility: hidden;
}

.header .menu > ul > li .sub-menu > ul > li {
  line-height: 1;
}

.header .menu > ul > li .sub-menu > ul > li > a {
  display: inline-block;
  padding: 10px 0;
  font-size: 15px;
  color: #555555;
  transition: color 0.3s ease;
  text-decoration: none;
  text-transform: capitalize;
}

.header .menu > ul > li .single-column-menu {
  min-width: 280px;
  max-width: 350px;
}

.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li {
  line-height: 1;
  display: block;
}

.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a {
  padding: 10px 0;
  display: inline-block;
  font-size: 15px;
  color: #555555;
  transition: color 0.3s ease;
}

.header .menu > ul > li .sub-menu.mega-menu {
  left: 50%;
  transform: translateX(-50%);
}

.header .menu > ul > li .sub-menu.mega-menu-column-4 {
  max-width: 1100px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 15px;
}

.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item {
  flex: 0 0 25%;
  padding: 0 15px;
}

.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item .title {
  font-size: 16px;
  color: #ea4636;
  font-weight: 500;
  line-height: 1;
  padding: 10px 0;
}

.header
  .menu
  > ul
  > li
  .sub-menu.mega-menu-column-4
  > .list-item.text-center
  .title {
  text-align: center;
}

.header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item img {
  max-width: 100%;
  width: 100%;
  vertical-align: middle;
  margin-top: 10px;
}

.header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a:hover,
.header .menu > ul > li .sub-menu > ul > li > a:hover,
.header .item-right a:hover,
.header .menu > ul > li:hover > a {
  color: #000000;
}

.mobile-menu-head,
.mobile-menu-trigger {
  display: none;
}

/*responsive*/
@media (min-width: 992px) {
  .header .menu > ul > li.menu-item-has-children:hover .sub-menu {
    margin-top: 0;
    visibility: visible;
    opacity: 1;
  }
}

@media (max-width: 991px) {
  .header .item-center {
    order: 3;
    flex: 0 0 100%;
  }

  .header .item-left,
  .header .item-right {
    flex: 0 0 auto;
  }

  .v-center {
    justify-content: space-between;
  }

  .header .mobile-menu-trigger {
    display: flex;
    height: 30px;
    width: 30px;
    margin-left: 15px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
  }

  .header .mobile-menu-trigger span {
    display: block;
    height: 2px;
    background-color: #333333;
    width: 24px;
    position: relative;
  }

  .header .mobile-menu-trigger span:before,
  .header .mobile-menu-trigger span:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333333;
  }

  .header .mobile-menu-trigger span:before {
    top: -6px;
  }

  .header .mobile-menu-trigger span:after {
    top: 6px;
  }

  .header .item-right {
    align-items: center;
  }

  .header .menu {
    position: fixed;
    width: 320px;
    background-color: #ffffff;
    left: 0;
    top: 0;
    height: 100%;
    overflow: hidden;
    transform: translate(-100%);
    transition: all 0.5s ease;
    z-index: 1099;
  }

  .header .menu.active {
    transform: translate(0%);
  }

  .header .menu > ul > li {
    line-height: 1;
    margin: 0;
    display: block;
  }

  .header .menu > ul > li > a {
    line-height: 50px;
    height: 50px;
    padding: 0 50px 0 15px;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: black;
  }

  .header .menu > ul > li > a i {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 0;
    right: 0;
    text-align: center;
    line-height: 50px;
    transform: rotate(-90deg);
  }

  .header .menu .mobile-menu-head {
    display: flex;
    height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 501;
    position: sticky;
    background-color: #ffffff;
    top: 0;
  }

  .header .menu .mobile-menu-head .go-back {
    height: 50px;
    width: 50px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
    display: none;
  }

  .header .menu .mobile-menu-head.active .go-back {
    display: block;
  }

  .header .menu .mobile-menu-head .current-menu-title {
    font-size: 15px;
    font-weight: 500;
    color: #000000;
  }

  .header .menu .mobile-menu-head .mobile-menu-close {
    height: 50px;
    width: 50px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    color: #000000;
    font-size: 25px;
  }

  .header .menu .menu-main {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .header .menu > ul > li .sub-menu.mega-menu,
  .header .menu > ul > li .sub-menu {
    visibility: visible;
    opacity: 1;
    position: absolute;
    box-shadow: none;
    margin: 0;
    padding: 15px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 65px;
    max-width: none;
    min-width: auto;
    display: none;
    transform: translateX(0%);
    overflow-y: auto;
  }

  .header .menu > ul > li .sub-menu.active {
    display: block;
  }

  @keyframes slideLeft {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }

    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }

  @keyframes slideRight {
    0% {
      opacity: 1;
      transform: translateX(0%);
    }

    100% {
      opacity: 0;
      transform: translateX(100%);
    }
  }

  .header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item img {
    margin-top: 0;
  }

  .header
    .menu
    > ul
    > li
    .sub-menu.mega-menu-column-4
    > .list-item.text-center
    .title {
    margin-bottom: 20px;
  }

  .header
    .menu
    > ul
    > li
    .sub-menu.mega-menu-column-4
    > .list-item.text-center:last-child
    .title {
    margin-bottom: 0px;
  }

  .header .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item {
    flex: 0 0 100%;
    padding: 0px;
  }

  .header .menu > ul > li .sub-menu > ul > li > a,
  .header .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a {
    display: block;
  }

  .header .menu > ul > li .sub-menu.mega-menu > .list-item > ul {
    margin-bottom: 15px;
  }

  .menu-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1098;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
  }

  .menu-overlay.active {
    visibility: visible;
    opacity: 1;
  }
}

/* Slider */
.slider-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -6rem;
}

@media screen and (min-width: 1000px) {
  .slider-container {
    margin-top: -13rem;
  }
  .img-slider .slide img {
    margin-top: 0;
  }
  .img-slider .navigation {
    top: 33rem;
  }
}

@media screen and (min-width: 1107px) {
  .img-slider .navigation {
    top: 35rem;
  }
}

@media screen and (min-width: 1166px) {
  .img-slider .navigation {
    top: 36rem;
  }
}

@media screen and (min-width: 1235px) {
  .img-slider .navigation {
    top: 38rem;
  }
}

@media screen and (min-width: 1293px) {
  .img-slider .navigation {
    top: 40rem;
  }
}

@media screen and (min-width: 1440px) {
  .slider-container {
    margin-top: -20rem;
  }
  .img-slider .slide img {
    margin-top: 0;
  }
  .img-slider .navigation {
    top: 45rem;
  }
}

@media screen and (min-width: 2550px) {
  .slider-container {
    margin-top: -3.5rem;
  }
  .img-slider .slide img {
    margin-top: -50rem;
  }
  .img-slider .navigation {
    top: 30rem;
  }
}

.img-slider {
  position: relative;
  width: 100%;
  height: 500px;
  margin: 10px;
}

.img-slider .slide {
  z-index: 1;
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.img-slider .slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 2s clip-path;
}

.img-slider .slide img {
  z-index: 1;
  width: 100%;
  border-radius: 5px;
  margin-top: 4rem;
}

.img-slider .navigation {
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  top: 46rem;
}

.img-slider .navigation .btn {
  background: rgba(22, 22, 22, 0.5);
  width: 12px;
  height: 12px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.img-slider .navigation .btn.active {
  background: red;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

/* Mobile and tablet styles */
@media (max-width: 800px) {
  .img-slider {
    width: 100%;
    height: 400px;
  }

  .img-slider .slide img {
    margin-top: 0;
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  .img-slider .navigation {
    top: auto;
    bottom: 15px;
  }
}

@media (max-width: 620px) {
  .img-slider {
    width: 100%;
    height: 250px;
  }

  .img-slider .slide img {
    height: 100%;
    object-fit: cover;
  }

  .img-slider .navigation .btn {
    width: 8px;
    height: 8px;
  }
}

@media (max-width: 420px) {
  .img-slider {
    width: 100%;
    height: 200px;
  }

  .img-slider .slide img {
    height: 100%;
    object-fit: cover;
  }

  .img-slider .navigation .btn {
    width: 6px;
    height: 6px;
  }
}

/* Banner Main */
.banner-main {
  text-align: center;
}

.banner-main p {
  font-size: 4rem;
  font-weight: 600;
}

.banner-main__img {
  display: flex;
  justify-content: center;
}

.banner-main img {
  border-radius: 10px;
  width: 100%;
}

@media (min-width: 768px) {
  .banner-main img {
    width: 90vw;
  }
  .banner-main p {
    font-size: 3rem;
  }
}

@media screen and (max-width: 788px) {
  .banner-main {
    margin-top: -10rem;
  }
  .banner-main img {
    width: 90vw;
  }
}

/* Departamentos */
.departamentos-container {
  margin-top: 3rem;
}

.departamentos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.departamentos-container__title {
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
}

.departamentos p {
  text-align: center;
  font-size: 2rem;
  margin-top: 1rem;
}

.departments-box img {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 5px solid transparent;
  transition: border-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.departments-box img:hover {
  border-color: red;
  transform: scale(1.1);
}

@media (min-width: 768px) {
  .departments-box img {
    width: 10rem;
    height: 10rem;
  }
  .departamentos {
    display: flex;
    justify-content: space-between;
    padding: 3rem;
  }
}

@media (min-width: 1140px) {
  .departamentos img {
    width: 15rem;
    height: 15rem;
  }
}

/* Carrousel */
.product-slider {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 90%;
  margin: auto;
  margin: 40px auto;
}
.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.product-slider-heading {
  font-size: 3.5rem;
  text-transform: uppercase;
}
.product-box {
  width: 100%;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  position: relative;
}

.product-img-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
}
.product-img a,
.product-img {
  width: 100%;
  height: 300px;
  display: flex;
}

.product-img a img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  animation: fade 0.6s;
}
.product-img-back {
  display: none;
}
.product-img-container:hover .product-img-back {
  display: block;
}
.product-img-container:hover .product-img-front {
  display: none;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.product-box-offer {
  position: absolute;
  left: 30px;
  top: 20px;
  width: 65px;
  height: 24px;
  color: #ffffff;
  background-color: #e63b3b;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  letter-spacing: 1px;
  transition: none !important;
  animation: none;
  z-index: 100;
}
.product-box-text {
  margin-top: 5px;
}
.product-title {
  color: #333333;
  font-weight: 600;
  transition: all ease 0.3s;
  text-decoration: none;
}
.product-title:hover {
  opacity: 0.7;
  transition: all ease 0.3s;
}
.product-category {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  color: #ff25257c;
}
.product-category span {
  color: #acacac;
  font-size: 0.9rem;
  margin: 5px 0px;
}
.price-buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}
.price-buy .p-price {
  font-size: 1.3rem;
  color: #333333;
  font-weight: 700;
}
.price-buy .p-buy-btn {
  color: #e63b3b;
  margin: 0px 5px;
  font-weight: 500;
  text-decoration: none;
}
.price-buy .p-buy-btn:hover {
  text-decoration: underline;
}

.slider-btns {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 10px auto 10px auto;
}
.swiper-button-next,
.swiper-button-prev {
  position: static !important;
  transform: translate(0, 0);
  margin: 10px 0px 0px 10px !important;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px !important;
  font-weight: 800;
  color: #111111;
}

@media (max-width: 500px) {
  .product-slider-heading {
    text-align: center;
    font-size: 3rem;
  }
  .product-slider {
    width: 100%;
  }
  .product-img a,
  .product-img {
    height: 230px;
  }

  .product-img a img {
    animation: none;
  }
  .product-img-back {
    display: none;
  }
  .product-img-container:hover .product-img-back {
    display: none;
  }
  .product-img-container:hover .product-img-front {
    display: block;
  }
}
@media (max-width: 400px) {
  .product-img a,
  .product-img {
    height: 190px;
  }
  .product-box-offer {
    top: 10px;
    left: 20px;
  }
}

.best-styles {
  margin: 6rem 0 3rem;
  text-align: center;
  margin-top: -3rem;
}

.best-style__cont {
  display: flex;
  justify-content: center; /* Centra las tarjetas horizontalmente */
  align-items: center;
  flex-wrap: wrap; /* Permite que los elementos se muevan a la siguiente fila si es necesario */
  gap: 2rem; /* Espacio entre las tarjetas */
}

.style-box {
  padding: 1rem;
  border-radius: 8px;
  overflow: hidden;
  max-width: 300px;
  flex: 1 1 300px;
}



.style-box__img {
  overflow: hidden;
  text-align: center;
  border-radius: 12px;
  /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);*/
}

.style-box__img img {
  width: 250px;
  height: 400px;
  object-fit: cover;
  transition: transform 0.5s ease, box-shadow 0.3s ease;
  transform-origin: center;
  border-radius: 12px;
}

.style-box__img img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.style-box p{
  font-size: 2.5rem;
  margin-top: 2rem;
  font-weight: 600;
}

.best-styles h1{
  font-size: 3.5rem;
}

@media (min-width: 768px) {
  .best-style__cont {
    justify-content: center;
    gap: 1.5rem;
  }

  .style-box {
    max-width: 30%;
  }
}

@media (max-width: 500px) {
  .best-styles h1{
    font-size: 3rem;
  }
}

footer{
  position: relative;
  background: #1c1c1c;
  width: 100%;
  bottom: 0;
  left: 0;
  margin-top: 8rem;
}
footer::before{
  content: '';
  position: absolute;
  left: 0;
  top: 100px;
  height: 1px;
  width: 100%;
  background: #AFAFB6;
}
footer .content{
  max-width: 1250px;
  margin: auto;
  padding: 30px 40px 40px 40px;
}
footer .content .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.logo-details img{
  width: 30rem;
}
.content .top .logo-details{
  color: #fff;
  font-size: 30px;
}
.content .top .media-icons{
  display: flex;
}
.content .top .media-icons a{
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}
.top .media-icons a:nth-child(1){
  background: #4267B2;
}
.top .media-icons a:nth-child(1):hover{
  color: #4267B2;
}
.top .media-icons a:nth-child(2){
  background: #535353;
}
.top .media-icons a:nth-child(2):hover{
  color: #1DA1F2;
}
.top .media-icons a:nth-child(3){
  background: #E1306C;
}
.top .media-icons a:nth-child(3):hover{
  color: #E1306C;
}
.top .media-icons a:nth-child(4){
  background: #0077B5;
}
.top .media-icons a:nth-child(4):hover{
  color: #0077B5;
}
.top .media-icons a:nth-child(5){
  background: #FF0000;
}
.top .media-icons a:nth-child(5):hover{
  color: #FF0000;
}
footer .content .link-boxes{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .content .link-boxes .box{
  width: calc(100% / 5 - 10px);
}
.content .link-boxes .box .link_name{
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}
.link-boxes .box .link_name::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 35px;
  background: #fff;
}
.content .link-boxes .box li{
  margin: 6px 0;
  list-style: none;
}
.content .link-boxes .box li a{
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease
}
.content .link-boxes .box li a:hover{
  color: red;
  text-decoration: underline;
}
.content .link-boxes .input-box{
  margin-right: 55px;
}
.link-boxes .input-box input{
  height: 40px;
  width: calc(100% + 55px);
  outline: none;
  border: 2px solid #AFAFB6;
  background: #1c1c1c;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: #fff;
  margin-top: 5px;
  font-family: 'Poppins', sans-serif;
}
.link-boxes .input-box input::placeholder{
  color: #AFAFB6;
  font-size: 16px;
}
.link-boxes .input-box input[type="button"]{
  background: #fff;
  color: black;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}
.input-box input[type="button"]:hover{
  background: #b53c42;
  color: #fff;
}
footer .bottom-details{
  width: 100%;
  background: #1f1f1f;
}
footer .bottom-details .bottom_text{
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a{
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}
.bottom-details .bottom_text a:hover{
  opacity: 1;
  text-decoration: underline;
}
.bottom-details .bottom_text a{
  margin-right: 10px;
}
@media (max-width: 900px) {
  footer .content .link-boxes{
    flex-wrap: wrap;
  }
  footer .content .link-boxes .input-box{
    width: 40%;
    margin-top: 10px;
  }
}
@media (max-width: 700px){
  footer{
    position: relative;
  }
  .content .top .logo-details{
    font-size: 26px;
  }
  .content .top .media-icons a{
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 3 - 10px);
  }
  footer .content .link-boxes .input-box{
    width: 60%;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 12px;
  }
}
@media (max-width: 520px){
  footer::before{
    top: 145px;
  }
  footer .content .top{
    flex-direction: column;
  }
  .content .top .media-icons{
    margin-top: 16px;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 2 - 10px);
  }
  footer .content .link-boxes .input-box{
    width: 100%;
  }
}

/* Media Queries para pantallas más pequeñas */

/* Adaptación para pantallas entre 597px y 768px */
@media (max-width: 768px) and (min-width: 600px) {
  .departamento__container {
      grid-template-columns: repeat(2, 1fr); /* Mostrar 2 columnas */
  }
}


/* Para pantallas entre 522px y 596px */
@media (max-width:600px) and (min-width: 522px) {
  .departamento__container {
      grid-template-columns: repeat(2, 1fr); /* Mostrar 2 columnas más pequeñas */
      gap: 15px; /* Reducir el espacio entre tarjetas */
  }
  .departamento__container {
      width: 100%; /* Ajustar las tarjetas al 100% del espacio disponible */
  }
}

/* Para pantallas menores a 522px */
@media (max-width: 522px) {
  .departamento__container {
      grid-template-columns: repeat(2, 1fr) /* Una columna para pantallas pequeñas */
  }
}