@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

body{
    background-color: #23325a !important;
    color: #fff !important;
    font-family: "Ubuntu", sans-serif !important;
    font-weight: 500 !important;
    font-style: normal !important;
}

/** Header Section  **/ 
.header .navbar .logo h2{
    font-size: 2.5em !important;
}

.header .navbar .logo h2 span{
    color: rgb(10,165,165) !important;
    text-shadow: 1px 1px 3px white;
}

.header .navbar .menu-navbar{
    width: 40vw;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.header .navbar .menu-navbar a{
    text-decoration: none;
    color: white;
}

/* ---- Main Section ---- */ 
.main-content{ 
    display: grid;
    grid-template-columns: 4fr 4fr;
    gap: 2rem;
    align-items: center;
}

.main-content .img-container img{
    width: 30vw;
}