<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Almacenes SIMAN | Departamentos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../assets/css/normalize.css">
    <link rel="shortcut icon" href="../assets/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
</head>
</head>
<body>
    <div class="container-1">
        <header class="header">
            <div class="container">
                <div class="row v-center">
                    <div class="header-item item-left">
                        <div class="logo">
                            <a href="#">
                                <img class="header-logo" alt="Siman logotipo" crossorigin="anonymous"
                                    data-src="https://siman.vtexassets.com/assets/vtex.file-manager-graphql/images/cfd36ba9-4b77-4f49-84c3-9e2f9c363cc8___19999b42961a45dbb2f4293973939c0b.svg"
                                    loading="lazy"
                                    src="https://siman.vtexassets.com/assets/vtex.file-manager-graphql/images/cfd36ba9-4b77-4f49-84c3-9e2f9c363cc8___19999b42961a45dbb2f4293973939c0b.svg">
                            </a>
                        </div>
                    </div>
                    <div class="header-item item-center">
                        <div class="menu-overlay">
                        </div>
                        <nav class="menu">
                            <div class="mobile-menu-head">
                                <div class="go-back"><i class="fa fa-angle-left" style="color: black !important;"></i>
                                </div>
                                <div class="current-menu-title"></div>
                                <div class="mobile-menu-close">&times;</div>
                            </div>
                            <ul class="menu-main">
                                <li>
                                    <a href="#">Home</a>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">Departamentos <i class="fa fa-angle-down"></i></a>
                                    <div class="sub-menu mega-menu mega-menu-column-4">
                                        <div class="list-item">
                                            <h4 class="title">Calzado</h4>
                                            <ul>
                                                <li><a href="#">For Girls</a></li>
                                                <li><a href="#">For Mens</a></li>
                                                <li><a href="#">Kids</a></li>
                                                <li><a href="#">Accesorios</a></li>
                                                <li><a href="#">Cuidado</a></li>
                                            </ul>
                                            <h4 class="title">Tecnologia</h4>
                                            <ul>
                                                <li><a href="#">Laptops y Computadoras</a></li>
                                                <li><a href="#">Video y Audio</a></li>
                                                <li><a href="#">Gaming</a></li>
                                            </ul>
                                        </div>
                                        <div class="list-item">
                                            <h4 class="title">Ellas</h4>
                                            <ul>
                                                <li><a href="#">Juvenil o Casual</a></li>
                                                <li><a href="#">Curvy</a></li>
                                                <li><a href="#">Ropa Interior y Pijamas</a></li>
                                                <li><a href="#">Vestidos, Blusas y Más!!</a></li>
                                            </ul>
                                            <h4 class="title">Ellos</h4>
                                            <ul>
                                                <li><a href="#">Juvenil y KIDS!!</a></li>
                                                <li><a href="#">Jeans, Shorts y Más!!</a></li>
                                                <li><a href="#">Ropa Interior y Pijamas</a></li>
                                                <li><a href="#">Trajes, Blazers, Suits y Más!!</a></li>
                                            </ul>
                                        </div>
                                        <div class="list-item">
                                            <h4 class="title">Home</h4>
                                            <ul>
                                                <li><a href="#">Linea Blanca y Electrodomesticos</a></li>
                                                <li><a href="#">Muebles y Cristaleria</a></li>
                                                <li><a href="#">Dormitorio</a></li>
                                                <li><a href="#">Utensilios y Accesorios</a></li>
                                                <li><a href="#">Decoracion</a></li>
                                                <li><a href="#">Baño</a></li>
                                                <li><a href="#">Organizadores</a></li>
                                                <li><a href="#">Articulos de Limpieza</a></li>
                                                <li><a href="#">Jardin</a></li>
                                            </ul>
                                        </div>
                                        <div class="list-item">
                                            <img src="../assets/img/shop1.jpg" alt="shop">
                                        </div>
                                    </div>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">More <i class="fas fa-angle-down"></i></a>
                                    <div class="sub-menu single-column-menu">
                                        <ul>
                                            <li><a href="#">Promociones</a></li>
                                            <li><a href="https://www.credisiman.com/landing/SV">CrediSiman</a></li>
                                            <li><a href="#">Login</a></li>
                                            <li><a href="#">Registrarme</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a href="#">Contact Us!!</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- Menu Mobile -->
                    <div class="header-item item-right">
                        <a href="#"><i class="fas fa-search"></i></a>
                        <a href="#"><i class="far fa-heart"></i></a>
                        <a href="#"><i class="fas fa-shopping-cart"></i></a>
                        <div class="mobile-menu-trigger">
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section class="footer">
            <footer>
                <div class="content">
                    <div class="top">
                        <div class="logo-details">
                            <img src="../assets/img/logo.svg" alt="">
                        </div>
                        <div class="media-icons">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                    <div class="link-boxes">
                        <ul class="box">
                            <li class="link_name">Siman Corporativo</li>
                            <li><a href="#">¿Quienes Somos?</a></li>
                            <li><a href="#">Vision y Mision</a></li>
                            <li><a href="#">Historia</a></li>
                            <li><a href="#">Sucursales</a></li>
                        </ul>
                        <ul class="box">
                            <li class="link_name">Programas</li>
                            <li><a href="#">Monedero</a></li>
                            <li><a href="#">Certificados</a></li>
                            <li><a href="#">Credisiman</a></li>
                            <li><a href="#">Garantias</a></li>
                        </ul>
                        <ul class="box">
                            <li class="link_name">Soporte</li>
                            <li><a href="#">FAQS</a></li>
                            <li><a href="#">Póliticas</a></li>
                            <li><a href="#">Contáctanos</a></li>
                            <li><a href="#">Seguridad del Sitio</a></li>
                        </ul>
                        <ul class="box">
                            <li class="link_name">Ofertas</li>
                            <li><a href="#">Condiciones</a></li>
                            <li><a href="#">Derechos</a></li>
                            <li><a href="#">Terminos</a></li>
                            <li><a href="#">Devoluciones</a></li>
                        </ul>
                        <ul class="box input-box">
                            <li class="link_name">Subscribete</li>
                            <li><input type="text" placeholder="Digite tu e-mail"></li>
                            <li><input type="button" value="Subscribete"></li>
                        </ul>
                    </div>
                </div>
                <div class="bottom-details">
                    <div class="bottom_text">
                        <span class="copyright_text">Copyright &copy; 2024 <a href="#">Almacenes Siman El Salvador</a>| Derechos Reservados</span>
                        <span class="policy_terms">
                            <a href="#">Politicas de privacidad</a>
                            <a href="#">Terminos & condiciones</a>
                        </span>
                    </div>
                </div>
            </footer>
        </section>
</body>
</html>