<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Almacenes SIMAN | El Salvador</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../assets/css/normalize.css">
    <!-- <link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.css"> -->
    <link rel="shortcut icon" href="../assets/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
</head>

<body>
    <div class="container-1">
        <header class="header">
            <div class="container">
                <div class="row v-center">
                    <div class="header-item item-left">
                        <div class="logo">
                            <a href="#">
                                <img class="header-logo" alt="Siman logotipo" crossorigin="anonymous"
                                    data-src="https://siman.vtexassets.com/assets/vtex.file-manager-graphql/images/cfd36ba9-4b77-4f49-84c3-9e2f9c363cc8___19999b42961a45dbb2f4293973939c0b.svg"
                                    loading="lazy"
                                    src="https://siman.vtexassets.com/assets/vtex.file-manager-graphql/images/cfd36ba9-4b77-4f49-84c3-9e2f9c363cc8___19999b42961a45dbb2f4293973939c0b.svg">
                            </a>
                        </div>
                    </div>
                    <div class="header-item item-center">
                        <div class="menu-overlay">
                        </div>
                        <nav class="menu">
                            <div class="mobile-menu-head">
                                <div class="go-back"><i class="fa fa-angle-left" style="color: black !important;"></i>
                                </div>
                                <div class="current-menu-title"></div>
                                <div class="mobile-menu-close">&times;</div>
                            </div>
                            <ul class="menu-main">
                                <li>
                                    <a href="#">Home</a>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="departments.html">Departamentos <i class="fa fa-angle-down"></i></a>
                                    <div class="sub-menu mega-menu mega-menu-column-4">
                                        <div class="list-item">
                                            <h4 class="title">Calzado</h4>
                                            <ul>
                                                <li><a href="#">For Girls</a></li>
                                                <li><a href="#">For Mens</a></li>
                                                <li><a href="#">Kids</a></li>
                                                <li><a href="#">Accesorios</a></li>
                                                <li><a href="#">Cuidado</a></li>
                                            </ul>
                                            <h4 class="title">Tecnologia</h4>
                                            <ul>
                                                <li><a href="#">Laptops y Computadoras</a></li>
                                                <li><a href="#">Video y Audio</a></li>
                                                <li><a href="#">Gaming</a></li>
                                            </ul>
                                        </div>
                                        <div class="list-item">
                                            <h4 class="title">Ellas</h4>
                                            <ul>
                                                <li><a href="#">Juvenil o Casual</a></li>
                                                <li><a href="#">Curvy</a></li>
                                                <li><a href="#">Ropa Interior y Pijamas</a></li>
                                                <li><a href="#">Vestidos, Blusas y Más!!</a></li>
                                            </ul>
                                            <h4 class="title">Ellos</h4>
                                            <ul>
                                                <li><a href="#">Juvenil y KIDS!!</a></li>
                                                <li><a href="#">Jeans, Shorts y Más!!</a></li>
                                                <li><a href="#">Ropa Interior y Pijamas</a></li>
                                                <li><a href="#">Trajes, Blazers, Suits y Más!!</a></li>
                                            </ul>
                                        </div>
                                        <div class="list-item">
                                            <h4 class="title">Home</h4>
                                            <ul>
                                                <li><a href="#">Linea Blanca y Electrodomesticos</a></li>
                                                <li><a href="#">Muebles y Cristaleria</a></li>
                                                <li><a href="#">Dormitorio</a></li>
                                                <li><a href="#">Utensilios y Accesorios</a></li>
                                                <li><a href="#">Decoracion</a></li>
                                                <li><a href="#">Baño</a></li>
                                                <li><a href="#">Organizadores</a></li>
                                                <li><a href="#">Articulos de Limpieza</a></li>
                                                <li><a href="#">Jardin</a></li>
                                            </ul>
                                        </div>
                                        <div class="list-item">
                                            <img src="../assets/img/shop1.jpg" alt="shop">
                                        </div>
                                    </div>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">More <i class="fas fa-angle-down"></i></a>
                                    <div class="sub-menu single-column-menu">
                                        <ul>
                                            <li><a href="most-sales.html">Promociones</a></li>
                                            <li><a href="https://www.credisiman.com/landing/SV">CrediSiman</a></li>
                                            <li><a href="#">Login</a></li>
                                            <li><a href="#">Registrarme</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a href="#">Contact Us!!</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- Menu Mobile -->
                    <div class="header-item item-right">
                        <a href="#"><i class="fas fa-search"></i></a>
                        <a href="#"><i class="far fa-heart"></i></a>
                        <a href="#"><i class="fas fa-shopping-cart"></i></a>
                        <div class="mobile-menu-trigger">
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <br><br><br>
        <!-- Slider  -->
        <main class="main">
            <section class="slider-container">
                <div class="img-slider">
                    <div class="slide active">
                        <img
                            src="https://siman.vtexassets.com/assets/vtex.file-manager-graphql/images/a3392aaa-b10f-4d72-bf39-df329c9c890a___47f59408ab374e3a23916c9ad5b7a65d.jpg">
                        <div class="info">

                        </div>
                    </div>
                    <div class="slide">
                        <img
                            src="https://siman.vtexassets.com/assets/vtex.file-manager-graphql/images/a3392aaa-b10f-4d72-bf39-df329c9c890a___47f59408ab374e3a23916c9ad5b7a65d.jpg">
                        <div class="info">

                        </div>
                    </div>
                    <div class="slide">
                        <img src="https://siman.vtexassets.com/assets/vtex.file-manager-graphql/images/f75b4129-92b2-41d5-aaa7-4368ae64f230___b3e84032c10078c475bccbd211ae5793.jpg"
                            alt="">
                        <div class="info">


                        </div>
                    </div>
                    <div class="slide">
                        <img src="https://siman.vtexassets.com/assets/vtex.file-manager-graphql/images/12802213-8a67-4da0-af5d-89a4336f9668___74d40aae2faa5573c1125bdb0daab52d.jpg"
                            alt="">
                        <div class="info">

                        </div>
                    </div>
                    <div class="slide">
                        <img src="https://siman.vtexassets.com/assets/vtex.file-manager-graphql/images/544a64a3-ae91-4510-ab55-18ffba520003___260caf2a1a1be7d3d35ef2cadf86eab9.jpg"
                            alt="">
                        <div class="info">

                        </div>
                    </div>
                    <div class="navigation">
                        <div class="btn active"></div>
                        <div class="btn"></div>
                        <div class="btn"></div>
                        <div class="btn"></div>
                        <div class="btn"></div>
                    </div>
                </div>
            </section>
            <!-- Banner -->
            <section class="banner-main">
                <p>Night Sale!!</p>
                <br><br>
                <section class="banner-main__img">
                    <img src="../assets/img/banner1.webp" alt="Banner 1">
                </section>
            </section>
            <br><br><br>
            <!-- Departamentos -->
            <section class="departamentos-container">
                <p class="departamentos-container__title">Departamentos</p>
                <section class="departamentos">
                    <article class="departments-box">
                        <img src="../assets/img/favicon.png" alt="Fragancias">
                        <p>Rombos Siman</p>
                    </article>
                    <article class="departments-box">
                        <img src="../assets/img/departments/for_girls.webp" alt="Ellas">
                        <p>Ellas</p>
                    </article>
                    <article class="departments-box">
                        <img src="../assets/img/departments/tech.webp" alt="Tecnologia">
                        <p>Tecnologia</p>
                    </article>
                    <article class="departments-box">
                        <img src="../assets/img/departments/calzado.png" alt="Calzado">
                        <p>Calzado</p>
                    </article>
                    <article class="departments-box">
                        <img src="../assets/img/departments/Hogar.webp" alt="Hogar">
                        <p>Hogar</p>
                    </article>
                    <article class="departments-box">
                        <img src="../assets/img/departments/for_mens.jpg" alt="Ellos">
                        <p>Ellos</p>
                    </article>
                </section>
            </section>
            <!-- Product Carrousel -->
            <section class="product-slider">
                <h4 class="product-slider-heading">Lo Nuevo!!</h4>
                <div class="slider-btns">
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
                <div class="slider-container">
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="product-box">
                                    <span class="product-box-offer">-20%</span>
                                    <div class="product-img-container">
                                        <div class="product-img">
                                            <a href="">
                                                <img alt="" class="product-img-front"
                                                    src="https://siman.vtexassets.com/arquivos/ids/4779038-800-auto?v=638324859274900000&width=800&height=auto&aspect=true" />
                                                <img alt="" class="product-img-back"
                                                    src="https://siman.vtexassets.com/arquivos/ids/4783112-1200-auto?v=638325681260500000&width=1200&height=auto&aspect=true" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="product-box-text">
                                        <div class="product-category">
                                            <span>Apple</span>
                                        </div>
                                        <a href="" class="product-title">Iphone 15</a>
                                        <div class="price-buy">
                                            <span class="p-price">$1500</span>
                                            <a href="" class="p-buy-btn">Agregar al Carrito</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="product-box">
                                    <span class="product-box-offer">-40%</span>
                                    <div class="product-img-container">
                                        <div class="product-img">
                                            <a href="#">
                                                <img alt="" class="product-img-front"
                                                    src="https://siman.vtexassets.com/arquivos/ids/2544857-1200-auto?v=637776002896530000&width=1200&height=auto&aspect=true" />
                                                <img alt="" class="product-img-back"
                                                    src="https://siman.vtexassets.com/arquivos/ids/2544858-800-auto?v=637776002901700000&width=800&height=auto&aspect=true" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="product-box-text">
                                        <div class="product-category">
                                            <span>Apple</span>
                                        </div>
                                        <a href="#" class="product-title">Iphone 13</a>
                                        <div class="price-buy">
                                            <span class="p-price">$800</span>
                                            <a href="#" class="p-buy-btn">Agregar al Carrito</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="product-box">
                                    <span class="product-box-offer">-60%</span>
                                    <div class="product-img-container">
                                        <div class="product-img">
                                            <a href="#">
                                                <img alt="" class="product-img-front"
                                                    src="https://siman.vtexassets.com/arquivos/ids/4410520-1200-auto?v=638237401961730000&width=1200&height=auto&aspect=true" />
                                                <img alt="" class="product-img-back"
                                                    src="https://siman.vtexassets.com/arquivos/ids/4410521-1200-auto?v=638237401966830000&width=1200&height=auto&aspect=true" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="product-box-text">
                                        <div class="product-category">
                                            <span>Apple</span>
                                        </div>
                                        <a href="#" class="product-title">Apple TV 4K Wifi 64gb</a>
                                        <div class="price-buy">
                                            <span class="p-price">$150</span>
                                            <a href="#" class="p-buy-btn">Agregar al Carrito</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="product-box">
                                    <span class="product-box-offer">-70%</span>
                                    <div class="product-img-container">
                                        <div class="product-img">
                                            <a href="#">
                                                <img alt="" class="product-img-front"
                                                    src="https://siman.vtexassets.com/arquivos/ids/2758617-1600-auto?v=637843653236770000&width=1600&height=auto&aspect=true" />
                                                <img alt="" class="product-img-back"
                                                    src="https://siman.vtexassets.com/arquivos/ids/2758620-1600-auto?v=637843653244430000&width=1600&height=auto&aspect=true" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="product-box-text">
                                        <div class="product-category">
                                            <span>JBL</span>
                                        </div>
                                        <a href="#" class="product-title">
                                            JBL Flip 6
                                        </a>

                                        <div class="price-buy">
                                            <span class="p-price">$149</span>
                                            <a href="#" class="p-buy-btn">Agregar al Carrito</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="product-box">
                                    <span class="product-box-offer">-20%</span>
                                    <div class="product-img-container">
                                        <div class="product-img">
                                            <a href="#">
                                                <img alt="" class="product-img-front"
                                                    src="https://siman.vtexassets.com/arquivos/ids/4623484-1600-auto?v=638290360821370000&width=1600&height=auto&aspect=true" />
                                                <img alt="" class="product-img-back"
                                                    src="https://siman.vtexassets.com/arquivos/ids/4623485-1600-auto?v=638290360823530000&width=1600&height=auto&aspect=true" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="product-box-text">
                                        <div class="product-category">
                                            <span>Nintendo</span>
                                        </div>
                                        <a href="#" class="product-title">
                                            Nintendo Switch 32GB ROM rojo/azul
                                        </a>
                                        <div class="price-buy">
                                            <span class="p-price">$349</span>
                                            <a href="#" class="p-buy-btn">Agregar al Carrito</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="product-box">
                                    <span class="product-box-offer">-60%</span>
                                    <div class="product-img-container">
                                        <div class="product-img">
                                            <a href="#">
                                                <img alt="" class="product-img-front"
                                                    src="https://siman.vtexassets.com/arquivos/ids/6026562-1600-auto?v=638592427718600000&width=1600&height=auto&aspect=true" />
                                                <img alt="" class="product-img-back"
                                                    src="https://siman.vtexassets.com/arquivos/ids/5357455-1600-auto?v=638477620202370000&width=1600&height=auto&aspect=true" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="product-box-text">
                                        <div class="product-category">
                                            <span>Samsung</span>
                                        </div>
                                        <a href="#" class="product-title">Samsung Cristal LED smart 50" UHD/4K</a>
                                        <div class="price-buy">
                                            <span class="p-price">$539</span>
                                            <a href="#" class="p-buy-btn">Agregar al Carrito</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Best Styles  -->
            <section class="best-styles">
                <h1>The Best Fashion!</h1>
                <section class="best-style__cont">
                    <article class="style-box">
                        <section class="style-box__img">
                            <img src="https://th.bing.com/th/id/OIP.e8FisXbva6nT8VZYUbivegAAAA?rs=1&pid=ImgDetMain"
                                alt="">
                        </section>
                        <p>Casual</p>
                    </article>
                    <article class="style-box">
                        <section class="style-box__img">
                            <img src="https://th.bing.com/th/id/R.9e7c14c401aac35b622f6dd0a8073b12?rik=BVl98eztaywWCg&pid=ImgRaw&r=0"
                                alt="">
                        </section>
                        <p>Formal</p>
                    </article>
                    <article class="style-box">
                        <section class="style-box__img">
                            <img src="https://th.bing.com/th/id/R.c14cf4a6136ea2ae0a8e38b857a9a0b3?rik=eJnXRzn%2fDThJ6w&pid=ImgRaw&r=0"
                                alt="">
                        </section>
                        <p>Fit</p>
                    </article>
                </section>
            </section>
        </main>
        <section class="footer">
            <footer>
                <div class="content">
                    <div class="top">
                        <div class="logo-details">
                            <img src="../assets/img/logo.svg" alt="">
                        </div>
                        <div class="media-icons">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                    <div class="link-boxes">
                        <ul class="box">
                            <li class="link_name">Siman Corporativo</li>
                            <li><a href="#">¿Quienes Somos?</a></li>
                            <li><a href="#">Vision y Mision</a></li>
                            <li><a href="#">Historia</a></li>
                            <li><a href="#">Sucursales</a></li>
                        </ul>
                        <ul class="box">
                            <li class="link_name">Programas</li>
                            <li><a href="#">Monedero</a></li>
                            <li><a href="#">Certificados</a></li>
                            <li><a href="#">Credisiman</a></li>
                            <li><a href="#">Garantias</a></li>
                        </ul>
                        <ul class="box">
                            <li class="link_name">Soporte</li>
                            <li><a href="#">FAQS</a></li>
                            <li><a href="#">Póliticas</a></li>
                            <li><a href="#">Contáctanos</a></li>
                            <li><a href="#">Seguridad del Sitio</a></li>
                        </ul>
                        <ul class="box">
                            <li class="link_name">Ofertas</li>
                            <li><a href="#">Condiciones</a></li>
                            <li><a href="#">Derechos</a></li>
                            <li><a href="#">Terminos</a></li>
                            <li><a href="#">Devoluciones</a></li>
                        </ul>
                        <ul class="box input-box">
                            <li class="link_name">Subscribete</li>
                            <li><input type="text" placeholder="Digite tu e-mail"></li>
                            <li><input type="button" value="Subscribete"></li>
                        </ul>
                    </div>
                </div>
                <div class="bottom-details">
                    <div class="bottom_text">
                        <span class="copyright_text">Copyright &copy; 2024 <a href="#">Almacenes Siman El Salvador</a>| Derechos Reservados</span>
                        <span class="policy_terms">
                            <a href="#">Politicas de privacidad</a>
                            <a href="#">Terminos & condiciones</a>
                        </span>
                    </div>
                </div>
            </footer>
        </section>
    </div>
    <script src="https://kit.fontawesome.com/9e5ba2e3f5.js" crossorigin="anonymous"></script>
    <script src="../assets/js/script.js"></script>
    <script src="../assets/js/slider.js"></script>
    <script>
        var swiper = new Swiper(".mySwiper", {
            slidesPerView: 1,
            spaceBetween: 10,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            autoplay: {
                delay: 6000,
                disableOnInteraction: false,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            breakpoints: {
                360: {
                    slidesPerView: 1.5,
                    spaceBetween: 20,
                },
                540: {
                    slidesPerView: 2,
                    spaceBetween: 20,
                },
                1200: {
                    slidesPerView: 4,
                    spaceBetween: 40,
                },
                1024: {
                    slidesPerView: 3,
                    spaceBetween: 20,
                },
            },
        });
    </script>

</html>